@model IEnumerable<AddressBook.Models.Contact>
@using AddressBook.Services
@inject IImageService _imageService
@{
    ViewData["Title"] = "Index";
}

<h1 class="text-info">My Contacts</h1>

<p>
    <a class="btn btn-secondary" asp-action="Create">New Contact</a>
</p>

<div class="row">
    <div class="col">
        <div class="card-deck">
            @foreach (var item in Model)
            {

                <div class="card shadow-sm" style="max-width: 20rem;">
                    <img id="profilePicture" class="card-img-top img-fluid h-50" src="@_imageService.DecodePoster(item.Profile, item.ContentType)"/>
                    <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.LastName)</h5>
                    <p class="card-text">Cell: @Html.DisplayFor(modelItem => item.CellPhone)</p>
                    <p class="card-text">Home: @Html.DisplayFor(modelItem => item.HomePhone)</p>
                    <p class="card-text">Email: @Html.DisplayFor(modelItem => item.Email)</p>


                    <a class="btn btn-secondary" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a class="btn btn-secondary" asp-action="Details" asp-route-id="@item.Id">Details</a>
                    <a class="btn btn-secondary" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </div>
            </div>
        }
        </div>
    </div>
    </div>